<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<springProfile name="dev">
		<logger name="com.clay.hello" level="TRACE" />
		<appender name="LOGFILE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			</encoder>
		</appender>
	</springProfile>

	<springProfile name="prod">
		<appender name="LOGFILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<File>log/server.log</File>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<FileNamePattern>log/server_%d{yyyy-MM-dd}.log.zip</FileNamePattern>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
			</layout>
		</appender>
	</springProfile>

	<root level="INFO">
		<appender-ref ref="LOGFILE" />
	</root>

	<logger name="com.clay" level="DEBUG" />
</configuration>